@import './assets/styles/variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
}

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }
}